@use './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  padding: 1rem;
  background-color: variables.$olive-color;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
