// color scheme
$olive-color: #808000;
$brown-color: #804000;
$green-color: #408000;
$blue-color: #000080;
$purple-color: #400080;
$light-blue-color: #004080;
$aqua-color: #008080;
$pink-color: #800080;
$red-color: #800000;
$white-color: #ffffff;
$black-color: #000000;

$borders: 0.125rem solid $olive-color;
$box-shadow: 0.125rem 0.125rem 0.3125rem $black-color;
